<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="milestones">
		<div class="container">
			<div class="row">


					<div class="milestone text-center">
						<div class="milestone_text">Online Courses</div>
					</div>


					<div class="milestone text-center">
                        <div class="milestone_text">Teachers</div>
					</div>


				<div class="col-lg-3 milestone_col">
					<div class="milestone text-center">
                        <div class="milestone_text">Countries</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>